<main class="portfolio-section">
  <div class="portfolio-title">
    <h1>Portfolio</h1>
  </div>
  <div class="portfolio">
    <div class="portfolio-card">
      <figure>
        <img src="../img/converging.webp" alt="An image of a connecting bridge." />
        <figcaption>
          <p class="portfolio-card-title">Converging</p>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-card">
      <figure>
        <img src="../img/framing.webp" alt="An image of a fish in an aquarium." />
        <figcaption>
          <p class="portfolio-card-title">Framing</p>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-card">
      <figure>
        <img src="../img/location.webp" alt=" A bench in a local park." />
        <figcaption>
          <p class="portfolio-card-title">Location</p>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-card">
      <figure>
        <img src="../img/mosaic.webp" alt="A stone mosaic of a building shot closely." />
        <figcaption>
          <p class="portfolio-card-title">Mosaic</p>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-card">
      <figure>
        <img src="../img/pointofinterest.webp" alt="A image of a bottle shot in photostudio." />
        <figcaption>
          <p class="portfolio-card-title">Point Of Interest</p>
        </figcaption>
      </figure>
    </div>
    <div class="portfolio-card">
      <figure>
        <img src="../img/tone.webp" alt=" An image of three buildings with the color tones highlighted." />
        <figcaption>
          <p class="portfolio-card-title">Tone</p>
        </figcaption>
      </figure>
    </div>
  </div>
</main>